.booking {
  display: flex;
  align-items: stretch;
  padding-top: 50px;
  padding-bottom: 51px;

  min-height: 555px;

  background: #badefb url("../img/blocks/booking/booking.jpeg") no-repeat;
  background-size: cover;
  background-position: bottom;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/blocks/booking/booking@2x.jpeg");
  }

  @include vp-tablet {
    padding-top: 95px;
    padding-bottom: 100px;
  }

  @include vp-mobile {
    padding-top: 53px;
    padding-bottom: 64px;
  }
}

.booking .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 113px;
  padding-right: 163px;

  @include vp-tablet {
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 165px;
    padding-right: 164px;
  }

  @include vp-mobile {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.booking__wrapper {
  padding-left: 50px;
  flex: 0 1 600px;

  @include vp-tablet {
    flex: 1 1 155px;
    padding-left: 0;
  }

  @include vp-mobile {
    margin-bottom: 27px;
  }
}

.booking h2 {
  margin: 0;
  margin-bottom: 16px;

  font-size: 40px;
  line-height: 44px;
  font-weight: 700;

  @include vp-tablet {
    margin-bottom: 19px;
    font-size: 34px;
  }

  @include vp-mobile {
    margin-bottom: 11px;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }
}

.booking p {
  margin: 0;

  font-size: 18px;
  line-height: 26px;

  @include vp-tablet {
    text-align: center;
  }

  @include vp-mobile {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }
}
