.cruises {
  padding-top: 119px;
  padding-bottom: 119px;

  @include vp-tablet {
    padding-top: 96px;
    padding-bottom: 100px;
  }

  @include vp-mobile {
    padding-top: 63px;
    padding-bottom: 65px;
  }
}

.cruises h2 {
  margin: 0;
  margin-bottom: 58px;

  font-size: 28px;
  font-weight: 600;
  text-align: center;

  @include vp-tablet {
    font-size: 26px;
  }

  @include vp-mobile {
    font-size: 24px;
    margin-bottom: 36px;
  }
}

.cruises__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 0;
  padding: 0 15px;

  list-style: none;
  color: $color-white;

  @media (max-width: 1145px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 860px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include vp-mobile {
    grid-template-columns: 1fr;
    padding: 0 9px;
  }
}

.cruises__item {
  display: flex;
  flex-direction: column;
  height: 386px;
  padding: 25px 30px;
  background-color: #00467e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  &:hover,
  &:active,
  &:focus,
  &:focus-within {
    padding: 30px 25px 15px;

    font-size: 14px;

    background-image: none;
    background-color: $color-tangaroa;

    @include vp-tablet {
      padding: 30px 35px 15px;
    }

    @include vp-mobile {
      padding: 30px 25px 15px;
    }
  }

  &--astoria {
    background-image:
      url("../img/blocks/cruises/cruises-astoria.webp"),
      url("../img/blocks/cruises/cruises-astoria.jpeg");

    @media (min-resolution: $retina-dppx) {
      background-image:
        url("../img/blocks/cruises/cruises-astoria@2x.webp"),
        url("../img/blocks/cruises/cruises-astoria@2x.jpeg");
    }
  }

  &--eline {
    background-image:
      url("../img/blocks/cruises/cruises-eline.webp"),
      url("../img/blocks/cruises/cruises-eline.jpeg");

    @media (min-resolution: $retina-dppx) {
      background-image:
        url("../img/blocks/cruises/cruises-eline@2x.webp"),
        url("../img/blocks/cruises/cruises-eline@2x.jpeg");
    }
  }

  &--atlantis {
    background-image:
      url("../img/blocks/cruises/cruises-atlantis.webp"),
      url("../img/blocks/cruises/cruises-atlantis.jpeg");

    @media (min-resolution: $retina-dppx) {
      background-image:
        url("../img/blocks/cruises/cruises-atlantis@2x.webp"),
        url("../img/blocks/cruises/cruises-atlantis@2x.jpeg");
    }
  }

  &--odyssey {
    background-image:
      url("../img/blocks/cruises/cruises-odyssey.webp"),
      url("../img/blocks/cruises/cruises-odyssey.jpeg");

    @media (min-resolution: $retina-dppx) {
      background-image:
        url("../img/blocks/cruises/cruises-odyssey@2x.webp"),
        url("../img/blocks/cruises/cruises-odyssey@2x.jpeg");
    }
  }

  &--olympia {
    background-image:
      url("../img/blocks/cruises/cruises-olympia.webp"),
      url("../img/blocks/cruises/cruises-olympia.jpeg");

    @media (min-resolution: $retina-dppx) {
      background-image:
        url("../img/blocks/cruises/cruises-olympia@2x.webp"),
        url("../img/blocks/cruises/cruises-olympia@2x.jpeg");
    }
  }

  &--aurora {
    background-image:
      url("../img/blocks/cruises/cruises-aurora.webp"),
      url("../img/blocks/cruises/cruises-aurora.jpeg");

    @media (min-resolution: $retina-dppx) {
      background-image:
        url("../img/blocks/cruises/cruises-aurora@2x.webp"),
        url("../img/blocks/cruises/cruises-aurora@2x.jpeg");
    }
  }

  &--leonor {
    background-image:
      url("../img/blocks/cruises/cruises-leonor.webp"),
      url("../img/blocks/cruises/cruises-leonor.jpeg");

    @media (min-resolution: $retina-dppx) {
      background-image:
        url("../img/blocks/cruises/cruises-leonor@2x.webp"),
        url("../img/blocks/cruises/cruises-leonor@2x.jpeg");
    }
  }

  &--minion {
    background-image:
      url("../img/blocks/cruises/cruises-minion.webp"),
      url("../img/blocks/cruises/cruises-minion.jpeg");

    @media (min-resolution: $retina-dppx) {
      background-image:
        url("../img/blocks/cruises/cruises-minion@2x.webp"),
        url("../img/blocks/cruises/cruises-minion@2x.jpeg");
    }
  }

  @include vp-tablet {
    flex-basis: 309px;
    padding: 29px 35px;
  }

  @include vp-mobile {
    padding: 20px 25px;
  }
}

.cruises h3 {
  margin: 0;
  margin-top: auto;

  font-size: 18px;
  font-weight: 500;
}

.cruises__item:hover h3,
.cruises__item:active h3,
.cruises__item:focus h3,
.cruises__item:focus-within h3  {
  margin: 0;
  margin-bottom: 13px;
}

.cruises__description {
  display: none;
  height: 100%;
  overflow: auto;
}

.cruises__item:hover .cruises__description,
.cruises__item:active .cruises__description,
.cruises__item:focus .cruises__description,
.cruises__item:focus-within .cruises__description {
  display: flex;
  flex-direction: column;
}

.cruises dl {
  margin: 0;
  margin-bottom: 14px;
}

.cruises dt {
  font-weight: 500;
}

.cruises dd {
  margin: 0;
  margin-bottom: 11px;

  line-height: 18px;
}

.cruises a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  width: 100%;

  font-weight: 600;

  background-color: $color-white;
}
