.features {
  padding-top: 119px;
  padding-bottom: 120px;

  background-image: url("../img/blocks/features/features-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  @include retina {
    background-image: url("../img/blocks/features/features-bg@2x.jpeg");
  }

  @include vp-tablet {
    padding-top: 96px;
    padding-bottom: 100px;
  }

  @include vp-mobile {
    padding-top: 63px;
    padding-bottom: 67px;
  }
}

.features h2 {
  margin: 0;
  margin-bottom: 58px;

  font-size: 28px;
  font-weight: 600;
  text-align: center;

  @include vp-tablet {
    font-size: 26px;
  }

  @include vp-mobile {
    font-size: 24px;
    margin-bottom: 37px;
  }
}

.features__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin: 0;
  padding: 0;

  list-style: none;

  @include vp-tablet {
    gap: 30px;
  }

  @include vp-mobile {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

.features__item {
  padding: 30px 30px 25px;

  background-color: $color-white;

  @include vp-tablet {
    flex-basis: 206px;
    padding: 30px 10px 20px 20px;
  }

  @include vp-mobile {
    padding-right: 20px;
  }
}

.features h3 {
  position: relative;
  margin: 0;
  margin-bottom: 10px;
  padding-top: 52px;

  font-size: 18px;
  font-weight: 500;

  @include vp-tablet {
    padding-top: 42px;
  }

  @include vp-mobile {
    max-width: 200px;
    padding-top: 39px;
  }
}

.features__br-01,
.features__br-02,
.features__br-05 {
  @include vp-tablet {
    display: none;
  }
}

.features__br-03,
.features__br-04 {
  display: none;
}


.features__br-03 {
  @include vp-tablet {
    display: block;
  }

  @include vp-mobile {
    display: none;
  }
}

.features__br-02,
.features__br-04 {
  @include vp-mobile {
    display: block;
  }
}

.features__header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 42px;
  background-repeat: no-repeat;

  @include vp-tablet {
    background-size: contain;
  }
}

.features__header--ship::before {
  background-image: url("../img/blocks/features/features-ship.svg");

  @include vp-tablet {
    top: -5px;
    width: 22px;
    height: 27px;
  }

  @include vp-mobile {
    top: -7px;
  }
}

.features__header--all-inclusive::before {
  top: 5px;
  background-image: url("../img/blocks/features/features-all-inclusive.svg");

  @include vp-tablet {
    top: 0;
    width: 33px;
    height: 20px;
  }

  @include vp-mobile {
    top: -2px;
  }
}

.features__header--boat::before {
  top: 8px;
  background-image: url("../img/blocks/features/features-boat.svg");

  @include vp-tablet {
    top: 1px;
    width: 40px;
    height: 27px;
  }
}

.features p {
  margin: 0;

  font-size: 14px;
  line-height: 20px;
}
