.footer__nav {
  background-color: $color-tangaroa;

  @include vp-mobile {
    padding-top: 40px;
    padding-bottom: 35px;
  }
}

.footer__nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 138px;

  @include vp-tablet {
    min-height: 120px;
  }

  @include vp-mobile {
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
}

.footer__nav-list {
  position: relative;
  left: -154px;
  justify-content: flex-end;

  @include vp-tablet {
    left: -31px;
  }

  @include vp-mobile {
    row-gap: 7px;
    left: 0;
    margin-top: 21px;
    margin-bottom: 19px;
  }
}

.footer__nav a {
  @include vp-tablet {
    font-size: 12px;
  }

  @include vp-mobile {
    font-size: 12px;
    color: $color-white;
  }
}

.footer__social {
  position: relative;
  top: 5px;

  @include vp-tablet {
    position: relative;
    top: 2px;
  }
}
