.footer__nav {
  background-color: $color-tangaroa;

  @include vp-mobile {
    padding-top: 40px;
    padding-bottom: 35px;
  }
}

.footer__nav .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 138px;

  @include vp-tablet {
    min-height: 120px;
  }

  @include vp-mobile {
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
}

.footer__nav-list {
  max-width: 750px;
  justify-content: flex-end;
  margin-left: 40px;

  @include vp-tablet {
    margin-left: 25px;
  }

  @include vp-mobile {
    row-gap: 7px;

    margin-top: 21px;
    margin-bottom: 19px;
    margin-left: 0;
  }
}

.footer__nav a {
  @include vp-tablet {
    font-size: 12px;
  }

  @include vp-mobile {
    font-size: 12px;
    color: $color-white;
  }
}

.footer__social {
  position: relative;
  top: 5px;
  margin-left: auto;
  max-width: 200px;

  @include vp-tablet {
    position: relative;
    top: 2px;
  }

  @include vp-mobile {
    margin-left: 0;
  }
}
