.form {
  flex: 1 1 400px;
  min-width: 320px;
  min-height: 455px;
  padding: 25px 50px;

  color: $color-white;
  background-color: $color-tangaroa;

  @include vp-tablet {
    width: 92%;
  }

  @include vp-mobile {
    min-height: 461px;
    min-width: auto;
    width: 100%;
    padding: 15px 30px 22px;
  }
}

.form h3 {
  margin-bottom: 27px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;

  @include vp-mobile {
    margin-bottom: 28px;
    text-align: center;
    line-height: 26px;
  }
}

.form__field {
  margin-bottom: 21px;

  &--agreement {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }
}

.form input {
  width: 100%;
  padding: 13px 16px;
  font-size: 14px;
  background-color: $color-white;
  border: none;
  outline: none;

  &::placeholder {
    color: $color-tangaroa-70;
  }

  &[type="submit"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    white-space: pre-line;
  }
}

.form__field--agreement input {
  width: 20px;
}

.form__field--agreement label {
  position: relative;
  top: -2px;
  padding-left: 23px;
  font-size: 10px;

  @include vp-mobile {
    padding-left: 28px;
    line-height: 12px;
  }
}

.form__field--agreement input + label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: $color-white;
}

.form__field--agreement input:focus + label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: $color-white;
  border: 1px solid #f5a70c;
}

.form__field--agreement input:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 3px;
  width: 18px;
  height: 18px;
  background-image: url("../img/blocks/booking/booking-checked.svg");
  background-repeat: no-repeat;
}
