.header {
  background: url("../img/blocks/about/about.jpeg") no-repeat;
  background-size: cover;
}

.header h2,
.header p {
  color: $color-white;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;

  min-height: 38px;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  min-height: 38px;
}

.header__about {
  margin-top: 183px;
  padding-left: 95px;
}
