.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 28px;
  row-gap: 5px;
  padding: 0;
  margin: 0;

  list-style: none;

  @include vp-tablet {
    column-gap: 22px;
  }
}

@include vp-tablet {
  .social__item--fb svg {

    width: 9px;
    height: 16px;
  }

  .social__item--inst svg {
    width: 17px;
    height: 15px;
  }

  .social__item--twitter svg {
    width: 16px;
    height: 15px;
  }
}
