.travel {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 120px;
  padding-bottom: 120px;

  @include vp-tablet {
    column-gap: 35px;
    padding-top: 69px;
    padding-bottom: 76px;
  }

  @include vp-mobile {
    flex-direction: column;
    padding-top: 35px;
    padding-bottom: 64px;
  }
}

.travel__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 1 520px;

  @include vp-tablet {
    flex: 1 1 320px;
  }

  @include vp-mobile {
    margin-bottom: 17px;
  }
}

.travel h2 {
  margin-bottom: 18px;
  font-size: 28px;
  font-weight: 600;

  @include vp-tablet {
    margin-bottom: 4px;
    line-height: 34px;
  }

  @include vp-mobile {
    font-size: 24px;
    margin-bottom: 1px;
  }
}

.travel img {
  object-fit: cover;

  @include vp-tablet {
    width: 324px;
    height: 264px;
  }

  @include vp-mobile {
    height: 187px;
  }
}
