.travel {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 120px;
  padding-bottom: 120px;

  @include vp-tablet {
    column-gap: 35px;
    padding-top: 69px;
    padding-bottom: 77px;
  }

  @include vp-mobile {
    flex-direction: column;
    padding-top: 36px;
    padding-bottom: 64px;
  }
}

.travel__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 1 520px;

  @include vp-tablet {
    flex: 1 1 320px;
  }

  @include vp-mobile {
    margin-bottom: 17px;
  }
}

.travel h2 {
  margin-bottom: 18px;
  font-size: 28px;
  font-weight: 600;

  @include vp-tablet {
    max-width: 300px;
    margin-bottom: 0;
    font-size: 26px;
    line-height: 36px;
  }

  @include vp-mobile {
    max-width: 260px;
    margin-bottom: 1px;
    font-size: 24px;
    line-height: 34px;
  }
}

// .travel__br-01,
// .travel__br-02,
// .travel__br-03 {
//   display: none;

//   @include vp-tablet {
//     display: block;
//   }
// }

.travel img {
  object-fit: cover;
  background-color: #00467e;

  @include vp-tablet {
    width: 324px;
    height: 264px;
  }

  @include vp-mobile {
    height: 187px;
    width: 100%;
  }
}
